<% include ./partials/header %>

<div class="content container">
    <h1 class="title is-1">All the blogz</h1>
    
    <% blogs.forEach((blog) => { %>
    
        <!-- <div class="box">
            <h3 class="title is-3"><%= blog.title %></h3>
            <p class="subtitle is-5">by <%= blog.author %></p>
            <p class=""><%= blog.body %></p>
        </div> -->
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img src="<%= blog.image %>" alt="Blog image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4"><%= blog.title %></p>
                    <p class="subtitle is-6">by <%= blog.author %></p>
                </div>
            </div>
        
            <div class="content">
                <%= blog.body.substring(0, 100) %>...
                <br>
                <span><%= blog.date.toDateString() %></span>
            </div>
        </div>
    </div>
    <br>
    <% }) %>
</div>
<% include ./partials/footer %>